### Import libraries

In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split

In [2]:
[i for i in os.listdir("data") if i.endswith(".data")]

['processed_cleveland.data']

### Import data

In [3]:
path = "data/processed_cleveland.data"

In [6]:
names = [
    'age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang',
    'oldpeak','slope','ca','thal','num'
]

In [7]:
data = pd.read_csv(path, header=None)
data.columns = names

In [8]:
data.sample(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
137,62.0,1.0,2.0,120.0,281.0,0.0,2.0,103.0,0.0,1.4,2.0,1.0,7.0,3
94,63.0,0.0,3.0,135.0,252.0,0.0,2.0,172.0,0.0,0.0,1.0,0.0,3.0,0
74,44.0,1.0,4.0,110.0,197.0,0.0,2.0,177.0,0.0,0.0,1.0,1.0,3.0,1
139,51.0,1.0,3.0,125.0,245.0,1.0,2.0,166.0,0.0,2.4,2.0,0.0,3.0,0
161,77.0,1.0,4.0,125.0,304.0,0.0,2.0,162.0,1.0,0.0,1.0,3.0,3.0,4

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    float64
 1   sex       303 non-null    float64
 2   cp        303 non-null    float64
 3   trestbps  303 non-null    float64
 4   chol      303 non-null    float64
 5   fbs       303 non-null    float64
 6   restecg   303 non-null    float64
 7   thalach   303 non-null    float64
 8   exang     303 non-null    float64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    float64
 11  ca        303 non-null    object
 12  thal      303 non-null    object
 13  num       303 non-null    int64
dtypes: float64(11), int64(1), object(2)
memory usage: 33.3+ KB

### Format processing

In [10]:
data[data[data == "?"].notnull().any(axis=1)]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
87,53.0,0.0,3.0,128.0,216.0,0.0,2.0,115.0,0.0,0.0,1.0,0.0,?,0
166,52.0,1.0,3.0,138.0,223.0,0.0,0.0,169.0,0.0,0.0,1.0,?,3.0,0
192,43.0,1.0,4.0,132.0,247.0,1.0,2.0,143.0,1.0,0.1,2.0,?,7.0,1
266,52.0,1.0,4.0,128.0,204.0,1.0,0.0,156.0,1.0,1.0,2.0,0.0,?,2
287,58.0,1.0,2.0,125.0,220.0,0.0,0.0,144.0,0.0,0.4,2.0,?,7.0,0
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

Existen datos en ca y thal que son ?. 

Estas entradas representan 6/303 = 0.019 -> 1.9%

Se removeran estas entradas

In [11]:
data = (
    data
    .query("ca != '?' and thal != '?'")
    .assign(
        ca = lambda k: k.ca.astype(float),
        thal = lambda k: k.thal.astype(float)
    )
)

In [12]:
# cate: sex, cp, exang, slope, thal

# ordinal: age, trestbps, chol, fbs, restecg, thlach, oldpeak, ca

### Train test split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(
    data.drop("num", axis=1), data[["num"]], test_size=0.3
)

In [15]:
# calculate correlation of categorical
# calculate correlation of continuous